.software-nav::before {
	display: block;
	content: '';
	height: 50px;
}

/* GENERAL STYLES */
.software-page {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}

.griffcodes-blue {
	color: #0a3b70;
}

.norwester {
	font-family: 'Norwester', sans-serif;
}

.h-75vh {
	height: 75vh;
}

.h-100vh {
	height: 100vh;
}

.h-25vh {
	height: 25vh;
}

.mh-50vh {
	max-height: 50vh;
}

.mw-50 {
	max-width: 50%
}

.mw-75 {
	max-width: 75%;
}

.w-45 {
	width: 45%;
}

.test-bkg {
	background-color: pink;
}

/* SOFTWARE NAV */
.software-nav {
	font-size: 1em;
}

#logo-link {
	max-height: 5em;
}

/* HERO SECTION */

.griffcodes-h1 {
	font-size: 3em;
}

.hi-im-kayla {
	font-size: 1.2em;
	font-weight: 600;
}

#hero-img {
	-moz-object-fit: cover;
	-webkit-object-fit: cover;
	-ms-object-fit: cover;
	object-fit: cover;
	-moz-object-position: center;
	-webkit-object-position: center;
	-ms-object-position: center;
	object-position: center;
	display: block;
	/* position: absolute;
	top: 0;
	right: 0; */
	width: 100%;
	height: 100%;
	border-radius: 0;
}

/* WORK SECTION */
.griffcodes-blue-bg {
	color: white;
	background-color: #0a3b70;
}

.software-work-img {
	-moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    -moz-object-position: center;
    -webkit-object-position: center;
    -ms-object-position: center;
    object-position: center;
    display: block;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 50%;
    height: 100%;
    border-radius: 0;
}

@media screen and (max-width: 600px) {
	.software-work-img {
		width: 100%;
	}
}

/* FOOTER SECTION */
.software-footer {
	color: grey;
	font-size: .75em;
}

.icons {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.footer-link {
	display: block;
	border: 1px solid grey;
	padding: .5em;
	border-radius: 50%;
}

.footer-link:hover {
	background: grey;
}

svg {
	font-size: 1.4em;
	display: block;
	fill: grey;
}

.footer-link:hover > svg {
	fill: white;
}