/* GENERAL STYLES */
.software-page {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}

.griffcodes-blue {
	color: #0a3b70;
}

.norwester {
	font-family: 'Norwester', sans-serif;
}

.h-75vh {
	height: 75vh;
}

.h-100vh {
	height: 100vh;
}

.h-25vh {
	height: 25vh;
}

.mh-50vh {
	max-height: 50vh;
}

.mw-50 {
	max-width: 50%
}

.mw-75 {
	max-width: 75%;
}

.w-45 {
	width: 45%;
}

.test-bkg {
	background-color: pink;
}

/* SOFTWARE NAV */
nav {
	max-height: 3.7em;
}

.software-nav {
	font-size: 1em;
}

#logo-link {
	max-height: 3em;
}

/* HERO SECTION */

.hero-section {
	height: calc(100vh - 3.7em);
	font-size: 0.8em;
}

.griffcodes-h1 {
	font-size: 2.3em;
}

.hi-im-kayla {
	font-size: 1em;
	font-weight: 600;
}

#hero-img {
	-moz-object-fit: cover;
	-webkit-object-fit: cover;
	-ms-object-fit: cover;
	object-fit: cover;
	-moz-object-position: center;
	-webkit-object-position: center;
	-ms-object-position: center;
	object-position: center;
	display: block;
	/* position: absolute;
	top: 0;
	right: 0; */
	width: 100%;
	height: 100%;
	border-radius: 0;
}

/* WORK SECTION */
.griffcodes-blue-bg {
	color: white;
	background-color: #0a3b70;
}

.checkout-work {
	font-size: 1.5em;
	text-shadow: 2px 2px rgb(132, 132, 132);
}

.single-work-div {
	flex-wrap: wrap;
}

.project-text {
	max-width: 65vw;
}

.software-work-img {
	-moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    -moz-object-position: center;
    -webkit-object-position: center;
    -ms-object-position: center;
    object-position: center;
    display: block;
    /* position: absolute;
    top: 0;
    left: 0; */
    max-width: 35vw;
    border-radius: 0;
}

@media screen and (max-width: ) {
	.hero-section {
		margin-top: 8em;
	}
}

@media screen and (max-width: 992px) {
	.hero-section {
		margin-top: 8em;
	}
	.software-work-img {
		max-width: 100%;
	}
	.project-text {
		max-width: 100%;
	}
}

.project-title {
	font-size: 1em;
	font-weight: bold;
}

.project-description {
	font-size: 0.7em;
}

/* CONTACT SECTION */
.contact-header {
	font-weight: bold;
	font-size: 1.3em;
}

label {
	font-size: 0.8em;
}

/* FOOTER SECTION */
.software-footer {
	color: grey;
	font-size: .75em;
}

.icons {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.footer-link {
	display: block;
	border: 1px solid grey;
	padding: .5em;
	border-radius: 50%;
}

.footer-link:hover {
	background: grey;
}

svg {
	font-size: 1.4em;
	display: block;
	fill: grey;
}

.footer-link:hover > svg {
	fill: white;
}